<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/de-anza-college.png">
    </a>
    <h1><%= crn %></h1>
    <p>Seats: <%= seatsOpen %> / <%= totalSeats %></p>
    <p>Waitlist: <%= onWaitlist %> / <%= totalWaitlist %></p>
  </div>
</div>
</body>
</html>
